<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>eg_productflag</name>
	<displayName><![CDATA[EG PRODUCT FLAG]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[add   Victime de son succès flag for product]]></description>
	<author><![CDATA[BEllili RAMI]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
